<div class="container">
    <div [hidden]="submitted">
      <h1>Post Form</h1>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.title" name="title"
                 #name="ngModel">
          <!-- <div [hidden]="title.valid || title.pristine"
               class="alert alert-danger">
            Title is required
          </div> -->
        </div>
  
        <div class="form-group">
          <label for="publish">Publish</label>
          <input type="text" class="form-control" id="alterEgo"
                 [(ngModel)]="model.publish" name="publish">
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" class="btn btn-default" (click)="newPost()">Novo post</button>
      </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Title</div>
        <div class="col-xs-9">{{ model.title }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Publish</div>
        <div class="col-xs-9">{{ model.publish }}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
  </div>