<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/goals" routerLinkActive="active">Goals</a>
      <a mat-list-item routerLink="/plays" routerLinkActive="active">Plays</a>
      <a mat-list-item routerLink="/funny" routerLinkActive="active">Funny</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="example-spacer"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer"><a mat-list-item routerLink="/" routerLinkActive="active">Soccer 11</a></span>
      <button mat-icon-button class="assignment return" aria-label="Example icon-button with heart icon">
        <a mat-list-item routerLink="/submit" routerLinkActive="active"><i class="material-icons md-24">add</i></a>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <i class="material-icons md-24">login</i>
    </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
