<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Goals</a>
      <a mat-list-item href="#">Funny</a>
      <a mat-list-item href="#">Plays</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="example-spacer"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer">Soccer 11</span>
      <button mat-icon-button class="assignment return" aria-label="Example icon-button with heart icon">
        <i class="material-icons md-24">add</i>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <i class="material-icons md-24">login</i>
    </mat-toolbar>
    
    <app-video-table></app-video-table>
  </mat-sidenav-content>
</mat-sidenav-container>
